* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
.container {
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav {
  padding: 10px;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 12px;
  border-radius: 8px;
}

nav a:hover {
  text-decoration: underline;
  background-color: brown;
}

main {
  padding: 20px;
}

footer {
  background-color: #1d1d1d;
  color: white;
  padding: 10px;
  text-align: center;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.video-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

video {
  position: cover;
  object-fit: cover;
  height: 100vh;
}
